
body {
	font-family: helvetica, sans-serif;
	background: black;
	color: white;
}

svg text, svg line {
	stroke: white;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}

#header {
	max-width: 1000px;
	margin: 2em auto;
}

/* Details */

#line-details {
	padding: 1em 0 0;
}

.title {
	font-size: 1.4em;
}

.description {
	font-size: 0.7em;
	color: #999;
}

.title .badge {
	font-size: 0.1em;
	vertical-align: middle;
	margin-left: 1em;
	opacity: 0.7;
	transition: opacity 0.2s ease-in-out;
}

.title:hover .badge {
	opacity: 1;
}


/* Map */

.map-stations:not(.selected) {
	fill: lightgrey !important;
	stroke: white;
	stroke-width: 1;
}

.map-station.hover {
	/*border: 2px solid lightgrey;*/
	stroke-width: 2;
}

#vis #map svg {
	overflow: hidden;
}


/* Marey Diagrams */

#vis .panels .col {
	max-width: 900px;
	margin: 0 auto;
}

#vis svg {
	/*background: #f6f6f6;*/
	border: 2px solid #eee;
	margin: 1em 0;
	overflow: visible;
	display: block;
}

#vis .col {
	position: relative;
	transition: width 0.3s ease-in-out;
}

#vis .diagram-icons {
	position: absolute !important;
	top: 0;
	right: 0;
}

#vis .diagram-icons > span {
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	line-height: 1.2em;
	font-size: 1em;
	border-radius: 100%;
	background: #222;
	color: white;
	border-color: #333 !important;
}

#vis .diagram-icons .ctl-button:after {
	border: 1px solid #111;
}
#vis .diagram-icons .ctl-button:hover:after {
	transform: scale(1.6);
	border: 1px solid white;
}


.station text {
	font-size: 10px;
	opacity: 0;
	transition: opacity 0.2s ease-in-out,
				stroke 0.2s ease-in-out;
}

.station:first-child text,
.station:last-child text,
.station:nth-child(5n) text,
.station:hover text {
	opacity: 1;
}

.station line {
	stroke: #333;
	stroke-width: 3px;
}

.station:last-child line {
	stroke: white;
}



.station.hover text {
	stroke: yellow;
}

.station.hover line {
	stroke: lightgrey;
}

/* Subway icons */

#subway-line-labels {
	display: flex;
	flex-wrap: wrap;
}

.subway-line {
	width: 2em;
	height: 2em;
	
	border-radius: 100%;
	margin: 0.3em;
	background: black;
	color: white;
	border: 1px solid #4c4c4c;

	line-height: 2em;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;

	cursor: pointer;
	position: relative;
	box-sizing: content-box;
	transition: border-color 0.4s ease-in-out;
}

.subway-line:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: transform 0.4s ease-in-out,
				border 0.4s ease-in-out;
	border-radius: 100%;
	border: 0px solid transparent;
}

.subway-line:hover {
	opacity: 0.9;
	border-color: lightgrey;
}

.subway-line:hover:after {
	transform: scale(1.45);
	border: 2px solid white;
}

.subway-line.selected {
	border-color: white;
}

.subway-line.selected:after {
	transform: scale(1.3);
	border: 2px solid white;

}

















/* Colors taken from https://i.pinimg.com/736x/a0/47/f3/a047f3e3b6063580970bad1e80ef4a59--subway-signs-subway-art.jpg */
/*.subway-line.black {
	background: black;
}
.subway-line.orange {
	background: #FB823C;
}
.subway-line.blue {
	background: #005EA6;
}
.subway-line.lime {
	background: #88C657;
}
.subway-line.brown {
	background: #B36D26;
}
.subway-line.lightgrey {
	background: #949599;
}
.subway-line.darkgrey {
	background: #6D6E72;
}
.subway-line.yellow {
	background: #FBD445;
}
.subway-line.teal {
	background: #00AFD8;
}
.subway-line.red {
	background: #F63742;
}
.subway-line.green {
	background: #00A95B;
}
.subway-line.purple {
	background: #A94395;
}*/
