{% extends 'base.j2' %}


{% block content %}
    <div id='menu'></div>
    <header id='header'>
        <div id='subway-line-labels' class='subway-lines'></div>
    </header>

	<div id='vis'>
		<div class='container-fluid'>
            <div class='row'>
                <div class='col'></div>
                <div class='station-desc col d-none'></div>
                <div class='station-desc col d-none'></div>
            </div>
            <div class='row panels'>
                <div class='col' id='map'>
                    <div class='wrap sticky-top'></div>
                </div>
                {# <div class='col'><div id='map'></div></div> #}
                <div class='marey col d-none' id='marey1'></div>
                <div class='marey col d-none' id='marey2'></div>
            </div>
        </div>
	</div>

    <div id="about_box_bkg">
        <div id="about_box">
            <h3>About</h3>
            <p>Created by <a href='https://bensteers.github.io/' target='_blank'>Ben Steers</a>,<a href='https://github.com/rxl204' target='_blank'>Rachel Xin Rong Lim</a>, and <a href='https://github.com/xoxoaseka' target='_blank'>Assel Dmitriyeva</a> for a graduate course in Data Visualization at <a href="http://cusp.nyu.edu/"target="_blank">NYU CUSP</a> taught by <a href="https://serv.cusp.nyu.edu/~hvo/"target="_blank">Huy T. Vo</a>.</p>
            NYC Subway Data was retrieved from <a href="http://www.mta.info/"target="_blank">MTA</a>(The Metropolitan Transportation Authority), public benefit corporation responsible for public transportation in the U.S. state of New York.
            <p>Source code available <a href='https://github.com/bensteers/data_viz_project' target='_blank'>here</a>.</p>
            <h3>Credits</h3>
            Several open-source projects were used including
            <a href="http://d3js.org/" target="_blank">D3</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>,
            <a href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" target="_blank">Font-Awesome</a>. 
            <div id="close_button_top"><a href="#" onclick="show_about(false);">Close</a></div>
        </div>
    </div>
    
{% endblock %}


{% block scripts %}	
	<script>
		var map_geojson = {{ map_geojson|tojson }};
        var stations = {{ stations|tojson }};
        var subway_labels = {{ subway_labels|tojson }};
        var line_colors = {{ line_colors|tojson }};
        console.log(line_colors)
	</script>

    
	<script src="{{ url_for('static', filename='main.js') }}"></script>
	<script>
	// get the label data for each line
    if (subway_labels){
    	console.log(subway_labels);
    	drawSubwayLabels(subway_labels); 
    };

    // draw the map
    if(map_geojson) {
    	console.log(map_geojson, stations);
    	drawMap(map_geojson, stations);
    }


  </script>
{% endblock %}