{% extends 'base.j2' %}


{% block content %}

    <header id='header'>

        <div id='menu'></div>
        <div id='subway-line-labels' class='subway-lines'></div>
    </header>

	<div id='vis'>
		<div class='container-fluid'>
            <div class='row'>
                <div class='col'></div>
                <div class='station-desc col d-none'></div>
                <div class='station-desc col d-none'></div>
            </div>
            <div class='row panels'>
                <div class='col' id='map'>
                    <div class='wrap sticky-top'></div>
                </div>
                {# <div class='col'><div id='map'></div></div> #}
                <div class='marey col d-none' id='marey1'></div>
                <div class='marey col d-none' id='marey2'></div>
            </div>
        </div>
	</div>

    <div id="about_box_bkg">
        <div id="about_box">
            <h2>About</h2>
           Data was retrieved from <a href=""target="_blank">link</a> 
            <h2>Credits</h2>
            <ul>
            <a href="smth" target="_blank">link</a> 
            <div id="close_button_top"><a href="#" onclick="show_about(false);">Close</a></div>
        </div>
    </div>
    
{% endblock %}


{% block scripts %}	
	<script>
		var map_geojson = {{ map_geojson|tojson }};
        var stations = {{ stations|tojson }};
        var subway_labels = {{ subway_labels|tojson }};
        var line_colors = {{ line_colors|tojson }};
        console.log(line_colors)
	</script>

    
	<script src="{{ url_for('static', filename='main.js') }}"></script>
	<script>
	// get the label data for each line
    if (subway_labels){
    	console.log(subway_labels);
    	drawSubwayLabels(subway_labels); 
    };

    // draw the map
    if(map_geojson) {
    	console.log(map_geojson, stations);
    	drawMap(map_geojson, stations);
    }


  </script>
{% endblock %}